.totalContainer {
  color: #4caf50;
  padding: 15px;
  /* background-image: url('https://www.blog.shippypro.com/hubfs/Blog/EN/Whatsapp.png');
  background-repeat: no-repeat;
  background-size: cover; */
}
