.btn {
  color: white;
  background-color: black;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;

  font-size: 14px;
  font-weight: bold;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #acffae;
  color: #4caf50;
}
